<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Name your Wishlist</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<style>
    .footer {
        position: fixed;
        bottom: 0;
        right: 0;
        padding: 10px;
        background-color: #f8f9fa;
    }
</style>
<body>


<div class="container mt-5">
    <h2>Name your Wishlist</h2>
    <form action="/addWishList" th:object="${wishList}" method="post">
        <input th:value="${wishList.username}" type="hidden" class="form-control" id="username" th:field="*{username}" placeholder="Enter Username">
        <div class="form-group">
            <label for="wishlistName">Wishlist Name</label>
            <input type="text" class="form-control" id="wishlistName" th:field="*{wishlistName}" placeholder="Wishlist Name">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <form th:action="@{'/' + ${username}}" method="get">
        <button class="btn btn-info" type="submit">Tilbage</button>
    </form>
</div>
<div th:replace="~{fragments/footer :: footer}" class="footer"></div>
</body>
</html>