<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Name your Wishlist</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <h2>Name your Wishlist</h2>
    <form action="/addWishList" th:object="${wishList}" method="post">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" th:field="*{username}" placeholder="Enter Username">
        </div>
        <div class="form-group">
            <label for="wishlistName">Wishlist Name</label>
            <input type="text" class="form-control" id="wishlistName" th:field="*{wishlistName}" placeholder="Wishlist Name">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>