<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>See Wishlist</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<style>
    .footer {
        position: fixed;
        bottom: 0;
        right: 0;
        padding: 10px;
        background-color: #f8f9fa;
    }
</style>
<body>
<h1>Wishlist Details</h1>
<table>
    <thead>
    <tr>
        <th>Wish ID</th>
        <th>Wish Name</th>
        <th>URL</th>
        <th>Price</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="wish : ${wishlist}">
        <td th:text="${wish.wishID}">Wish ID</td>
        <td th:text="${wish.wishName}">Wish Name</td>
        <td>
            <a th:href="${wish.url}" th:text="${wish.url}">URL</a>
        </td>
        <td th:text="${wish.wishPrice}">Price</td>
        <td>
            <a th:href="@{'/deleteWish/' + ${username} + '/' + ${wishlistid} + '/' + ${wish.wishID}}" class="btn btn-danger">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<form th:action="@{'/addWish/' + ${username} + '/' + ${wishlistid}}" method="get">
    <button class="btn btn-info" type="submit">Tilføj ønske</button>
</form>

<div th:replace="~{fragments/footer :: footer}" class="footer"></div>
</body>
</html>