<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${wishlistName}"></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <style>
        .footer {
            position: fixed;
            bottom: 0;
            right: 0;
            padding: 10px;
            background-color: #f0f0f0;
        }
        .header {
            position: fixed;
            top: 0;
            right: 0;
            background-color: #f0f0f0;
            padding: 10px;
            padding-top: 5px;
        }
    </style>
</head>
<body>
<div th:replace="~{fragments/header :: header}" class="header"></div>

<div class="container" style="padding-top: 20px;">
    <h4 th:text="${wishlistName}"></h4>
    <table class="highlight">
        <thead>
        <tr th:if="${!wishlist.isEmpty()}">
            <th>Navn på ønske</th>
            <th>Link</th>
            <th>Pris</th>
            <th th:if="${session.user != null} and ${session.user.username == username}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="wish : ${wishlist}">
            <td th:text="${wish.wishName}">Wish Name</td>
            <td>
                <a th:href="${wish.url}" th:text="${wish.url}">URL</a>
            </td>
            <td th:text="${wish.wishPrice} + ',- kr.'">Price</td>
            <td th:if="${session.user != null} and ${session.user.username == username}">
                <a th:href="@{'/' + ${username} + '/' + ${wishlistid} + '/' + ${wish.wishID} + '/deleteWish'}" class="btn red">Slet</a>
            </td>
            <td th:if="${session.user != null} AND ${session.user.username != username}">
                <a th:href="@{'/' + ${username} + '/' + ${wishlistid} + '/' + ${wish.wishID} + '/togglereserve'}" class="waves-effect waves-light btn" th:classappend="${wish.isReserved} ? 'red' : 'green'">
                    <span th:if="${wish.isReserved}">Fjern reservation</span>
                    <span th:unless="${wish.isReserved}">Reserver</span>
                </a>
            </td>
            <td th:if="${session.user != null} and ${session.user.username == username}">
                <a th:href="@{'/' + ${username} + '/' + ${wishlistid} + '/' + ${wish.wishID} + '/updateWish'}" class="btn teal">Opdater</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:if="${session.user != null} and ${session.user.username == username}">
        <form th:action="@{'/' + ${username} + '/' + ${wishlistid} + '/addWish'}" method="get">
            <button class="btn waves-effect waves-light light" type="submit">Tilføj ønske</button>
        </form>
    </div>
    <form th:action="@{'/' + ${username}}" method="get">
        <button class="btn waves-effect waves-light light" type="submit">Tilbage</button>
    </form>
</div>

<div th:replace="~{fragments/footer :: footer}" class="footer"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
