<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Wish</title>
</head>
<body>
<h1>Update Wish</h1>
<form th:action="@{/updateWish}" th:object="${wish}" method="post">
    <input type="hidden" name="wishID" th:field="*{wishID}"/>
    <p>
        <label for="wishName">Navn:</label>
        <input type="text" id="wishName" name="wishName" th:field="*{wishName}" required/>
    </p>
    <p>
        <label for="wishPrice">Pris:</label>
        <input type="number" id="wishPrice" name="wishPrice" th:field="*{wishPrice}" min="0" required/>
    </p>
    <p>
        <label for="url">Link:</label>
        <input type="url" id="url" name="url" th:field="*{url}"/>
    </p>
    <input type="hidden" name="username" th:value="${username}"/>
    <input type="hidden" name="wishlistid" th:value="${wishlistid}"/>
    <input type="submit" value="Update" class="btn btn-success"/>
</form>
</body>
</html>