<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Wish</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <style>
        .footer {
            position: fixed;
            bottom: 0;
            right: 0;
            padding: 10px;
            background-color: #f0f0f0;
        }
        .header {
            position: fixed;
            top: 0;
            right: 0;
            background-color: #f0f0f0;
            padding: 10px;
            padding-top: 5px;
        }
    </style>
</head>
<body>
<div th:replace="~{fragments/header :: header}" class="header"></div>

<div class="container" style="margin-top: 20px;">
    <h4>Update Wish</h4>
    <form th:action="@{/updateWish}" th:object="${wish}" method="post">
        <input type="hidden" name="wishID" th:field="*{wishID}"/>
        <div class="row">
            <div class="input-field col s12">
                <input type="text" id="wishName" name="wishName" th:field="*{wishName}" required/>
                <label for="wishName">Navn:</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input type="number" id="wishPrice" name="wishPrice" th:field="*{wishPrice}" min="0" required/>
                <label for="wishPrice">Pris:</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input type="text" id="url" name="url" th:field="*{url}"/>
                <label for="url">Link:</label>
            </div>
        </div>
        <input type="hidden" name="username" th:value="${username}"/>
        <input type="hidden" name="wishlistid" th:value="${wishlistid}"/>
        <button type="submit" class="btn waves-effect waves-light">Update<i class="material-icons right"></i></button>
    </form>
    <form th:action="@{'/' + ${username} + '/see-wishlist/' + ${wishlistid}}" method="get" style="margin-top: 20px;">
        <button class="btn waves-effect waves-light btn small">Tilbage</button>
    </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>