<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Front Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <style>
        .footer {
            position: fixed;
            bottom: 0;
            right: 0;
            padding: 10px;
            background-color: #f8f9fa;
        }
    </style>
</head>
<body>

<div class="container" style="padding-top: 20px;">
    <h4>User Front Page</h4>
    <table class="highlight">
        <thead>
        <tr>
            <th>Wishlist ID</th>
            <th>Username</th>
            <th>Wishlist Name</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="wishlist : ${wishlists}">
            <td th:text="${wishlist.wishlistID}">Wishlist ID</td>
            <td th:text="${wishlist.username}">Username</td>
            <td th:text="${wishlist.wishlistName}">Wishlist Name</td>
            <td>
                <a th:href="@{${wishlist.username} + '/' + ${wishlist.wishlistID} + '/deleteWishList/'}" class="btn red">Delete</a>
            </td>
            <td>
                <form th:action="@{${wishlist.username} + '/see-wishlist/' + ${wishlist.wishlistID} }" method="get">
                    <button class="btn waves-effect waves-light" type="submit">View Wishes</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:if="${session.user != null} and ${session.user.username == username}">
        <a th:href="${username} + '/addWishList/'" class="waves-effect waves-light btn">Opret ny ønskeliste</a>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}" class="footer"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>