<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Front Page</title>
</head>
<style>
    .footer {
        position: fixed;
        bottom: 0;
        right: 0;
        padding: 10px;
        background-color: #f8f9fa;
    }
</style>
<body>
<h1>User Front Page</h1>
<table>
    <thead>
    <tr>
        <th>Wishlist ID</th>
        <th>Username</th>
        <th>Wishlist Name</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="wishlist : ${wishlists}">
        <td th:text="${wishlist.wishlistID}">Wishlist ID</td>
        <td th:text="${wishlist.username}">Username</td>
        <td th:text="${wishlist.wishlistName}">Wishlist Name</td>
        <td>
            <a th:href="@{'/deleteWishList/' + ${wishlist.username} + '/' + ${wishlist.wishlistID}}" class="btn btn-danger">Delete</a>

        </td>

        <td>
            <form th:action="@{'/see-wishlist/' + ${wishlist.username} + '/' + ${wishlist.wishlistID}}" method="get">
                <button type="submit">View Wishes</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<div th:if="${session.user != null} and ${session.user.username == username}">
<a href="/addWishList"> Opret ny ønskelist</a>
</div>
    <div th:replace="~{fragments/footer :: footer}" class="footer"></div>
</body>
</html>
